* {
    margin:0;
    padding:0;
    border:0;
    color:white;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
}

p {
    font-weight: bold;
    /* padding: 2% 0 5% 5%;
    font-size: 1em;
    line-height: 1em;
    text-align: left; */
}


html, body {
    margin: 0;
    padding: 0;
    background-color:black;
    text-align: center;
}

button {
    background-color: black;
    border: white 3px solid;
    width: 15%;
    margin-top: 2%;
}

h2 {
    font-size: 1.2em;
}

.projectOneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.projectsTagLine {
  font-size: 1em;  
  text-align: center;
}

.hidden {
    display: none;
}

.home {
    font-size: 1em;
    width: 20%
}

.projectHeader {
    font-size: .5em;
}

.projectFooter {
    background-color: white;
    display:flex;
}
.arrowNav {
    width: 30%;
}

.previousImage {
    height: 30%;
}

.p1CurrentImage {
    width: 50%;
}


.project1 {
    width: 100%;
}
.headerContentContainer {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
}

.placeholderProfile {
    width: 50%;
    height: auto;
    border-radius: 15%;
    border: grey solid 2px;
}

.bioTextBlock {
    background-color: black;
}

.row {
    width:100%;
    /* border: red solid 2px; */
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.column {
    column-count: 2;
    /* border: cyan solid 2px; */
}

.pageContainer {
    position: relative;
}

.headerBar {
    background-color: black;
    width:100%;
    flex: 1;
    display: flex;
    z-index: 3;
    border-bottom: white 2px solid;
}

.anchorLinks {
    /* border: black solid 2px; */
    padding-bottom: 100%;
    width: 100%;
    display: block;
    z-index: 2;
}

.cootieHero {
    width: 100%;
    z-index: 1;
}
.contactInfo {
    border-top: white 1px solid;
    font-size: .6em;
}

.footer {
    background-color: black;
    width: 100vw;
    position: fixed;
    height: 20%;
    z-index: 3;
}

#portfolioBlock {
    background-color: black;
}

@media screen and (min-width: 800px) {
    .headerContentContainer {
        font-size: 1.5em;
    }

}

@media screen and (min-width: 1200px) {
    section {
        margin-top: 5%;
    }
    .pageContainer {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .cootieHero {
        width: 90%;
        z-index: 1;
    }
    * {
        font-size: 1.2em;
    }

 
    
};